---
title: Tanya Klimenko
component: ContentPage
---
div
  div
    h3 On the web
    dl
      dt <a href="https://www.facebook.com/tannia.klimenko">Facebook</a>
      dd Description
      dt <a href="http://tanya-klimenko.tumblr.com/">Tumblr</a>
      dd Description
      dt <a href="https://www.behance.net/tanya-klimenko">Behance</a>
      dd Description
  div
    h3 My works
    dl
      dt <a href="">Gallery 1</a>
      dd Description
      dt <a href="">Gallery 2</a>
      dd Description
